* {
    margin: 14px;
}

.container {
    display: flex;
    align-items: center;
    height: 200px;
    justify-content: space-around;
    border: 2px solid black
}

.box {
    height: 140px;
    width: 150px;
    background-color: lightskyblue;
    border: 1px solid black;
}

.container2 {
    display: flex;
    align-items: center;
    height: 200px;
    justify-content: flex-end;
    border: 2px solid black;
    gap: 10px;
}

.box2 {
    height: 140px;
    width: 150px;
    background-color: burlywood;
    border: 1px solid black;
}

.container3 {
    display: flex;
    align-items: center;
    height: 200px;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid black;
}

.box3 {
    height: 140px;
    width: 150px;
    background-color: aqua;
    border: 1px solid black; 
}

.container4 {
    display: flex;
    align-items: center;
    height: 200px;
    justify-content: center;
    border: 2px solid black;
}

.box4 {
    height: 70%;
    width: 40%;
    background-color: crimson;
    border: 1px solid black;
}
